
.gameClient {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "header header header"
        "Nearby PlayerConsole Exits";
}

.header {
    grid-area: header;
}