
.gameClient {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "header header header"
        "Nearby PlayerConsole Exits"
        "PlayerInventory PlayerConsole NearbyItems";
}

.header {
    grid-area: header;
}