
.controls {
    display: grid;
}

.northButton {
    grid-row: 1;
    grid-column: 2;
}
.eastButton {
    grid-row: 2;
    grid-column: 3;
}
.southButton {
    grid-row: 3;
    grid-column: 2;
}
.westButton {
    grid-row: 2;
    grid-column: 1;
}

.currentPosition {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}