.container {
    grid-area: PlayerConsole;
}

.timeline {
    padding: 0;
}
.timeline > li {
    list-style: none;
}

.timelineEntryTimestamp {
    font-weight: bold;
    margin-right: .5em;
}

.commandForm > input{
    width: 100%;
    display: block;
}